In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans

In [2]:
df = pd.read_csv("data/cleaned_data.csv")

In [3]:
X = df[['Quantity','Price']]
y = df['Total_Sales']

model = LinearRegression()
model.fit(X, y)

print("Intercept:", model.intercept_)
print("Coefficients:", model.coef_)

Intercept: -122483.42220817233
Coefficients: [2.61613424e+04 4.64537942e+00]

In [4]:
from sklearn.cluster import KMeans

customer_data = df.groupby('Customer_ID')['Total_Sales'].sum().reset_index()

kmeans = KMeans(n_clusters=3, random_state=42)
customer_data['Cluster'] = kmeans.fit_predict(customer_data[['Total_Sales']])

customer_data.head()

  Customer_ID  Total_Sales  Cluster
0     CUST001      2766108        2
1     CUST002       641805        1
2     CUST003       528351        1
3     CUST004       250375        1
4     CUST005      2971638        2

In [5]:
print(customer_data['Cluster'].value_counts())
print(customer_data.groupby('Cluster')['Total_Sales'].mean())

Cluster
1    56
0    28
2    16
Name: count, dtype: int64
Cluster
0    1.674738e+06
1    4.906334e+05
2    3.062940e+06
Name: Total_Sales, dtype: float64

In [ ]:
-